---
layout: default
---


{% for post in paginator.posts %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="main-content" itemprop="articleBody">

    <a name="blog{{ forloop.index }}"></a>

    <header class="post-header">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h3 class="post-title" itemprop="name headline"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: '%B %-d, %Y'}}</time></h3> </a>

    </header>

    {% capture text %}{{ post.content }}{% endcapture %}
    {% capture truncated_text %}{{ text | truncatewords: 150, '' }}{% endcapture %}

    {% if text != truncated_text %}
    {{ truncated_text }} <a href="{{ site.baseurl }}{{ post.url }}"><b> read more... </b></a>
    {% else %}
    {{ text }}
    {% endif %}

    

   </div>

 </article>

 {% endfor %}

 <div class="pagination" style="text-align: center;">

  {% if paginator.next_page %}
  <h2><a href="{{ paginator.next_page_path }}" class="next">- more posts -</a></h2>
  {% endif %}

  {% if paginator.previous_page %}
  <h2><a href="{{ paginator.previous_page_path }}" class="previous">- previous page -</a></h2>
  {% endif %}


      <a href="http://www.grchen.com/"><h3 style="text-align: center;">- to home -</h3></a>

</div>
